<div class="container">
  <div class="card-panel">
    <div class="row">
      <div class="col s12">
        <h3><%= @project.name %></h3>
        <%= link_to @project.uri, @project.uri, class: "teal-text text-lighten-2", target: "_blank" %>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <%= link_to "Build", builds_path(project_id: @project.id), method: :post, class: "waves-effect waves-light btn lime darken-3" %>
        <%= link_to "Edit", edit_project_path(@project), class: "waves-effect waves-light btn" %>
        <%= link_to "Delete", project_path(@project), method: :delete, class: "waves-effect waves-light btn red" %>
      </div>
    </div>

  </div>
</div>


<div class="container">
  <h3>Builds</h3>

  <div class="row">
    <div class="col s12">
      <ul class="collapsible popout" data-collapsible="accordion">
        <% @builds.each do |b| %>
          <li>
            <div class="collapsible-header <%= state_color b %>">
              <%= link_to build_path(b), class: "black-text" do %>
                <%= b.pretty_commit %>
                by <%= b.author %>
              <% end %>
              <div class="right">
                <%= link_to "Rebuild", build_path(b), method: :put, class: "waves-effect waves-light btn light-green darken-2" %>
                <%= link_to "Delete", build_path(b), method: :delete, class: "waves-effect waves-light btn red" %>
              </div>
            </div>
            <div class="collapsible-body">
              <p class="flow-text black white-text">
                <%= pretty_output(b.stdout).html_safe %>
              </p>
            </div>
          </li>
        <% end %>
      </ul>

    </div>
  </div>

</div>
